.message-box{
    background: white;
    padding: 10px 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    border-radius: 8px;
}


 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.sidebar {
    width: 250px;
    background: #660c48;
    color: white;
    transition: all 0.3s;
    min-height: 100vh;
    padding: 25px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card {
    background:#2d2d2d ;
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

i, a{
    color: white;
    text-decoration: none;
}


.search-bar input{
    width: 300px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
}

#logout{
    color: red;
}

th,td{
    height: 40px;
    padding: 10px;
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    width: 100%;
    background-color: #2d2d2d;
    color: #e0e0e0;
  }
  
  .styled-table th {
    background-color: #1a1a1a;
    padding: 12px 15px;
  }
  
  .styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #444;
  }
  
  .styled-table tbody tr:hover {
    background-color: #3a3a3a;
  }
  
  .styled-table tbody tr:last-child td {
    border-bottom: none;
  }